<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mybroadcast">
    <!-- 静态的BroadcastReceiver注册 -->
    <!-- 静态注册方式的特点是不管改应用是否处于活动状态，都会进行监听。 -->
    <!-- <receiver -->
    <!-- android:name="MyReceiver" -->
    <!-- tools:ignore="WrongManifestParent"> -->
    <!-- <intent-filter> -->
    <!-- <action android:name="MyReceiver_Action" /> -->
    <!-- </intent-filter> -->
    <!-- </receiver> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/music"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/music"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>

        <service
            android:name=".Service.PlayMusicService"
            android:enabled="true" />
    </application>

</manifest>